<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Artis</title>
    </head>
    <body>
        <a href="/login.ejs">Login</a>

        <!--==========================JQuery===========================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>	
    </body>
</html>