<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="/css/estilos.css" rel="stylesheet" type="text/css">
            <link href="/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>

<h2>Two Equal Columns</h2>


<div class="row">
    <div class="col" style=" background-color: skyblue">
        <img src="imagenes/jarron.png" class="img-fluid" style="margin-left:15%;">
        <h1 style=" background-color: skyblue; float:right; margin-right: 12%;">Tu negocio de artesanías,<br>
            rápido, organizado. Sencillo.</h1>
    </div>
   <!-- <div class="col" >
       <h1 style="margin-top: 35%; background-color: skyblue;">Tu negocio de artesanías,<br>
            rápido, organizado. Sencillo.</h1> 
    </div> -->
  </div>
</div>

<a href="/login.ejs">Login</a>

        <!--==========================JQuery===========================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>	
</body>
</html>


