<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link href="/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/estilos.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" title="Artis" href="index.ejs"><img src="imagenes/logo (1).png" width="50%" alt="Artis"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>

<div class="container">
    <div class="main row mt-5 justify-content-center">
    <div>
        <div class="card" style="width: 20rem">
            <img src="imagenes/Artesanias (1).jpg" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: #D8A10A">
                        <form>
                          <div class="form-group">
                            <strong><label for="exampleInputEmail1">E-mail:</label></strong>
                            <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" placeholder="Enter email">
                          </div>
                          <div class="form-group">
                            <strong><label for="exampleInputPassword1">Password:</label></strong>
                            <input type="password" class="form-control" id="contrasena" placeholder="Password">
                          </div>
                          <div style="border-bottom: 1px solid; border-color: white">

                          </div>
                          <div class="text-center mt-3">
                            <button type="submit" class="btn boton" id="btn-login"><strong><a>Iniciar sesión</a></strong></button>
                          </div>
                          <div class="text-center mt-2">
                            <button type="submit" class="btn boton disabledd"><strong><a>Registrate</a></strong></button>
                          </div>                                    
                        </form>
                </div>
        </div>
    </div>
    </div> 
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/bootnavbar.js" ></script>
<script>
    $(function () {
        $('#main_navbar').bootnavbar();
    })
</script>
</body>
</html>