<!DOCTYPE html>
<html lang="en">
    <head>
	    <title>Artis</title>
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head> 
    <body>   
        <form action="/login" method="post">
            <label>Correo:</label>
            <input id="correo"  type="text" name="email" placeholder="Email" required>
            <br>
            <label>Contraseña:</label>
            <input id="contrasena"  type="password" name="pass" placeholder="Password" required>
            
            <button type="button" id="btn-login" value="logc in" >
                    Ingresar
            </button>
            
        </form>
    	
       <!--==========================JQuery===========================-->	
        <script src="js/jquery-3.3.1.min.js"></script>
       <!--Script-->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script src="js/lucalAJAXabr.js"></script>  
    </body>
</html>