<% include partial/header.ejs %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title>EnConstruccion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/estilos.css" rel="stylesheet">

    </head>

    <body>
        <div class="container" style=" margin-top: 3%;">
            <div class="main row">
                <div class="col-md-5">
                    <img src="imagenes/sombrero.PNG" class="img-fluid mt-5">
                </div>
                <div class="col-md-7 form-group mt-5">
                    <h3 style="color: #d8a10a" style="margin-top:3%;">Piezas</h3>
                    <h5 style="color: #93949B"><em>Pieza existente</em></h5>

                    <div id="accordion">
                        <!-- <div class="card" id="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="amarelo">
                                Insumo Existente
                              </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body" id="contenido">
                                    TABLA DE INFORMACION SOBRE EL INSUMO O MODIFICACIONES 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button id="amarelo" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Collapsible Group Item #2
                              </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button id="amarelo" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Collapsible Group Item #3
                              </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                </div>
                            </div>


                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </body>

   

    <!--================Scripts============================= -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/perfilx.js"></script>
    <script src="js/piezaexist.js"></script>


    </html>