.boton{
    width: 150px;
    background-color: #15232C;
    color: white;
    border-width: 2px;
    border-color: #15232C;
}

.boton:hover{
    background-color: transparent;
    color: #15232C;
}

.boton.disabledd{
    background-color: transparent;
    color:#15232C;
}

.contenido
{
    display: flex;
    vertical-align: middle;
}

.boton1{
    width: 180px;
    height: 50px;
    background-color: transparent;
    border-width: 2px;
    border-color: rgba(255, 197, 7, 0.63);
}
