<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Artis</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/estilos.css" rel="stylesheet">
    <link href="css/estilom.css" rel="stylesheet">

</head>

<body>

    <!--==========================
  Header
  ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href="landing.ejs"><img src="imagenes/logo (1).png" alt="" title="" style="height: 40px;" /></img>
                </a>
                <!-- Uncomment below if you prefer to use a text logo -->
                <!--<h1><a href="#hero">Regna</a></h1>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <!--menu-active-->

                    <li class=""><a href="#">Insumos</a>
                        <ul>
                            <li><a href="insumoexist.ejs">Insumo Existente</a>

                            </li>
                            <li><a href="inventory.ejs">Nuevo Insumo</a>
                                <ul>
                                    <li><a href="inventory.ejs">Nuevo Insumo</a></li>
                                    <li><a href="inventory.ejs">Nuevo Insumo</a></li>
                                </ul>
                            </li>

                        </ul>

                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="/construccion.ejs" id="navbarDropdown" role="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <strong>Piezas</strong>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/construccion.ejs">Nueva pieza</a></li>
                              <li><a class="dropdown-item" href="/construccion.ejs">Pieza existente</a></li>
                          </ul>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <strong>Inventario</strong>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/construccion.ejs">Insumos</a></li>
                              <li><a class="dropdown-item" href="/construccion.ejs">Piezas</a></li>
                          </ul>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/construccion.ejs"><strong>Ventas</strong></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/reportes.ejs" ><strong>Reportes</strong></a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link"  href="/login.ejs" ><strong>Cerrar Sesión</strong></a>
                      </li>
                      <li class="nav-item mt-2">
                        <i class='fa fa-user' style='font-size:25px;color: #d8a10a'></i>
                      </li>
                  </ul>
              </div>
          </nav>  

