<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link href="/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/estilos.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/index.ejs"><img src="imagenes/logo (1).png" width="50%"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav  ml-lg-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#"><strong>Insumos <span class="sr-only">(current)</span></a></strong>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"><strong>Piezas</a></strong>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"><strong>Inventario</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><strong>Ventas</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" ><strong>Reportes</strong></a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link"  href="#" ><strong>Cerrar Sesión</strong></a>
                        </li>
                        <li class="nav-item mt-2">
                          <i class='fa fa-user' style='font-size:25px;color: #0bf76d'></i>
                        </li>
                      </ul>
                    </div>
            </nav>