<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artis</title>
    
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link href="/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/estilos.css" rel="stylesheet" type="text/css">
    <link href="bootstrap/bootnavbar.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

          <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main_navbar">
              <a class="navbar-brand" href="/landing.ejs"><img src="imagenes/logo (1).png" width="50%"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
      
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-lg-auto">
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                            <strong>Insumos</strong>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li class="nav-item dropdown">
                                  <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false">
                                      Nuevo insumo
                                  </a>
                                  <ul class="dropdown-menu nav-item dropdown" aria-labelledby="navbarDropdown1">
                                      <li><a class="dropdown-item" href="/inventory.js">Unidad </a></li>
                                      <li><a class="dropdown-item" href="/inventory.js">Subcategoria</a></li>
                                      <li></li><a class="dropdown-item" href="#">Medidas</a></li>                       
                                  </ul>
                                </li>
                          <div class="dropdown-divider"></div>
                          <li><a class="dropdown-item" href="/insumos.ejs">Insumo existente</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="/construccion.ejs" id="navbarDropdown" role="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <strong>Piezas</strong>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/construccion.ejs">Nueva pieza</a></li>
                              <li><a class="dropdown-item" href="/construccion.ejs">Pieza existente</a></li>
                          </ul>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <strong>Inventario</strong>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/construccion.ejs">Insumos</a></li>
                              <li><a class="dropdown-item" href="/construccion.ejs">Piezas</a></li>
                          </ul>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/construccion.ejs"><strong>Ventas</strong></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/construccion.ejs" ><strong>Reportes</strong></a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link"  href="/login.ejs" ><strong>Cerrar Sesión</strong></a>
                      </li>
                      <li class="nav-item mt-2">
                        <i class='fa fa-user' style='font-size:25px;color: #d8a10a'></i>
                      </li>
                  </ul>
              </div>
          </nav>  