<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Artis</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/estilos.css" rel="stylesheet">
    <link href="css/estilom.css" rel="stylesheet">

</head>

<body>

          <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main_navbar">
              <a class="navbar-brand" href="#"><img src="imagenes/logo (1).png" width="50%"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
      
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-lg-auto">
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                            <strong>Insumos</strong>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li class="nav-item dropdown">
                                  <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false">
                                      Nuevo insumo
                                  </a>
                                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                      <li><a class="dropdown-item" href="#">Unidad </a></li>
                                      <li><a class="dropdown-item" href="#">Subcategoria</a></li>
                                      <li></li><a class="dropdown-item" href="#">Medidas</a></li>                       
                                  </ul>
                                </li>
                          <div class="dropdown-divider"></div>
                          <li><a class="dropdown-item" href="#">Insumo existente</a></li>
                        </ul>
                        <li class="menu-has-children"><a href="#">Piezas</a>
                            <ul>
                                <li><a href="nuevapieza.ejs">Nueva Pieza</a></li>
                                <li><a href="piezaexist.ejs">Pieza Existente</a>

                                </li>
                            </ul>
                            <li class="menu-has-children"><a href="#">Inventario</a>
                                <ul>
                                    <li><a href="insumos.ejs">Insumos</a></li>
                                    <li><a href="pieza.ejs">Piezas</a>

                                    </li>
                                </ul>
                                <li><a href="venta.ejs">Ventas</a></li>
                                <li><a href="reporte.ejs">Reportes</a></li>

                            </li>
                            <li><a href="#">Cerrar Sesion</a></li>
                            <li class="nav-item mt-2">
                                <i class='fa fa-user' style='font-size:25px;color: #d8a10a'></i>
                            </li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->




    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

</body>

</html>
